body {
  margin: 0px;
  box-sizing: border-box;
  font: 14px "Century Gothic", Futura, sans-serif;
  background-color: #d5f1d4;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
}

main {
  margin-top: 70px;
}

button {
  outline: none;
}