.nav-item {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}

.nav-item {
  background-color: #d4d4d4;
  padding: 10px;
}

.nav-title {
  font-size: 30px;
  font-weight: bold;
}

.nav-home, .nav-about {
  font-size: 20px;
  cursor: pointer;
  background-color: #d4d4d4;
  border: 0px;
  padding: 5px;
  font-weight: bold;
}

.nav-home:hover, .nav-about:hover, .post-title:hover, .active {
  background-color: black;
  color: white;
}

.nav-title {
  padding: 10px;
}
