.nav-item {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.nav-item {
  background-color: #d7efdf;
  padding: 10px;
}

.nav-title {
  font-size: 30px;
  font-weight: bold;
}

.nav-home, .nav-post , .nav-about {
  font-size: 20px;
  cursor: pointer;
  background-color: #d7efdf;
  border: 0px;
  padding: 5px;
  font-weight: bold;
}

#root .active {
  border-bottom: 2px solid black;
}

.nav-title {
  padding: 10px;
}

.nav-item a {
  padding: 5px;
}

.nav-item a:hover {
  color: grey;
}