.nav-items {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
}

.nav-items {
  background-color: #2d3436;
  color: #dfe6e9;
  padding: 10px;
}

.nav-title {
  font-size: 30px;
  font-weight: bold;
}

.nav-title {
  padding: 10px;
}

.nav-items a {
  padding: 5px;
}

.nav-items a:hover {
  color: #f5f6fa;
}

.nav-item {
  color: #dfe6e9;
}